<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Secret Santa - @ViewBag.Title</title>
    <!-- Stylesheets -->
    <% for (var filename in htmlWebpackPlugin.files.css) { %>
    <link href="~<%= htmlWebpackPlugin.files.css[filename] %>" rel="stylesheet" />
    <% } %>
    <!-- End Stylesheets -->
</head>

<body>
    <header class="bg-indigo-50 flex flex-row justify-between p-3 items-center font-semibold text-gray-700">
        <div class="flex flex-row justify-between">
            <a class="mb-1 mr-4 border-b-2 border-gray-300 text-2xl text-gray-800" asp-controller="Home" asp-action="Index">Secret Santa</a>
        </div>
        <nav class="hidden sm:inline-block">
            <ul class="flex flex-col sm:flex-row pb-1">
                <li class="px-4"><a class="mb-1 border-b-2 border-gray-300 text-lg" asp-controller="Users" asp-action="Index">Users</a></li>
                <li class="px-4"><a class="mb-1 border-b-2 border-gray-300 text-lg" asp-controller="Groups" asp-action="Index">Groups</a></li>
                <li class="px-4"><a class="mb-1 border-b-2 border-gray-300 text-lg" asp-controller="Gifts" asp-action="Index">Gifts</a></li>
            </ul>
        </nav>
        <button class="sm:hidden pr-3"><i class="fas fa-bars text-2xl align-middle h-full"></i></button>
    </header>

    <div class="text-gray-800 m-4">
        @RenderBody()
    </div>

    <!-- Scripts -->
    <% for (var index in htmlWebpackPlugin.files.js) { %>
    <script src="~<%= htmlWebpackPlugin.files.js[index] %>"></script>
    <% } %>
    <!-- End Scripts -->
</body>
</html>