@model List<GroupViewModel>

@{int index = 0;}

@foreach (GroupViewModel group in Model)
{
    <section>
        @group.Name <a asp-controller="Groups" asp-action="Edit" asp-route-id=@index>Edit</a>
        @{index++;}
    </section>
}
<a asp-controller="Groups" asp-action="Create">Create</a>
<p>This is the groups page.</p>