@model UserViewModel

<form asp-controller="Users" asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />
    @await Html.PartialAsync("_CreateOrEdit")

    <div class="font-semibold" asp-validation-summary='All'></div>
    <div class="flex flex-row space-x-4 pt-2">
        <button class="btn">Update</button>
        <a class="btn" asp-controller="Users" asp-action="Index">Cancel</a>
    </div>
</form>