@model List<UserViewModel>

@{ViewBag.Title = "Users";}
@{int counter = 0;}

<section class="itemlayout">
    @foreach (var userViewModel in Model)
    {
    <section class="itembox">
        <a class="ml-2" asp-action="Edit" asp-route-id=@counter>@userViewModel.FirstName @userViewModel.LastName</a>
        <form asp-action="Delete" asp-route-id=@counter method="post">
            <button onclick="return confirm('Do you want to remove @userViewModel.FirstName @userViewModel.LastName?');"><i class="iconremove fas fa-times"></i></button>
        </form>
        @{counter++;}
    </section>
    }
</section>
<a class="m-2" asp-action="Create"><i class="iconadd far fa-plus-square"></i></a>
