@model List<UserViewModel>

@{int index = 0;}

@foreach (UserViewModel user in Model)
{
    <section>
        @user.FullName
        @{index++;}
    </section>
}
<a asp-controller="Users" asp-action="Create">Create</a>
<p>This is the users page.</p>